// Place all the styles related to the admins::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//show/
.admin-show-heading {
  text-align: center;
  padding: 15px 15px;
}

.admin-show-table {
  margin: auto;
  width: 49%;
}

.admin-show-title {
  text-align: center;
  padding-top: 10px;
}

.admin-show-body1 {
  @extend .admin-show-title;
}

.admin-show-body2 {
  display: inline-block;
  text-align: left;
  padding-top: 10px;
}

.admin-show-image {
  @extend .admin-show-title;
}

.admin-show-tag {
  @extend .admin-show-title;
}

.admin-show-favorite-count {
  font-size: 20px;
  margin-left: 12%;
}

.admin-show-destroy {
  margin-left: 80%;
  padding: 20px;
}

.admin-show-comment {
  text-align: center;
  padding-bottom: 20px;
}

.admin-comment-content {
  font-size: 20px;
  margin-left: 30%;
  padding: 20px;
}

.admin-show-back {
  margin-left: 5%;
  padding-bottom: 30px;
}