// Place all the styles related to the admins::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//admin-log_in/
.admin-background-image {
  background-image: image-url("macbook1697_TP_V.jpg");
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 100%;
}

.admin-log-in-heading {
  margin-left: 22%;
  padding: 40px;
  color: #FFEEFF;
}

.admin-log-in-background-color {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 40px;
  margin: 0 25% 0 25%;
}

.name-field {
  margin-left: 31%;
  padding: 30px;
  color: #FFFFBB;
}

.password-field {
  margin-left: 31%;
  padding: 30px 30px 10px 30px;
  color: #FFFFBB;
}

.remember-me-field {
  margin-left: 30%;
  padding: 40px 40px 10px 40px;
  color: #FFFFBB;
}

.log-in-button {
  margin-left: 49%;
  padding-left: 40px;
}

.log-in-min-height { //高さの最小値を設定/
  min-height: 146px;
}
//--------------------------------------------------------/

//index/
.index-heading {
  text-align: center;
  padding: 15px;
}

.admin-index-table {
  text-align: center;
  margin: auto;
  width: 80%;
}

.admin-name {
  padding: 20px;
  border-bottom: 1px solid;
}

.admin-profile_image {
  @extend .admin-name;
}

.admin-post-count {
  @extend .admin-name;
}

.admin-status {
  @extend .admin-name;
}

.user_status{ //content_tagで生成したclassに条件に応じて効果を指定/
  @extend .admin-name;
  border-color: black;
  &_有効 {
    color: green;
  }
  &_退会済み {
    color: red;
  }
}

.admin-table-padding {
  padding-top: 40px;

}
//----------------------------------------------------------/

//show・プロフィール部分/
.admin-display {
  display: flex;
  margin: auto;
  width: 95%;
}

.admin-mypage {
  margin-right: 15px;
  width: 38%;
}

.admin-mypage-heading {
  text-align: center;
  padding-top: 20px;
}

.admin-mypage-table {
  border: 8px inset;
  margin-bottom: 32px;
  text-align: center;
}

.admin-mypage-name {
  font-size: 18px;
  padding: 15px 0 0 5px;
}

.admin-mypage-kana {
  @extend .admin-mypage-name
}

.admin-mypage-introduction {
  @extend .admin-mypage-name
}

.admin-introduction-body {
  display: inline-block;
  text-align: left;
}

.admin-mypage-profile-image {
  @extend .admin-mypage-name
}

.admin-mypage-email {
  @extend .admin-mypage-name
}

.admin-mypage-phone-number {
  @extend .admin-mypage-name
}

.admin-mypage-status {
  font-size: 20px;
  padding: 30px 0 30px;
}

//マイページの一覧部分/
.admin-mypost {
  margin: auto;
  width: 100%;
  padding-top: 15px;
}

.admin-mypost-heading {
  text-align: center;
}

.admin-mypost-table-border {
  margin-bottom: 30px;
  border: 10px inset;
}

.admin-mypost-table {
  text-align: center;
  margin: auto;
  width: 100%;
}