<h1 class="about-heading">当サイトのご説明</h1>
<div class="about-container">
  <h3 class="about-item">1.サイトの使い方</h3>
  <ul class="about-content1">
    <li>
      当サイトは皆様の望んでいること（ニーズ）を引き出し、</br>
      様々な業界で働く方々の商品・サービスの開発や改善に
      役立てていただく事を目的としております。</br>
      そのため皆様が日常生活で感じている商品やサービスへの不満（わがまま）を</br>
      「こうしてほしい」・「こうなったらいいな」という提案に変えることで、</br>
      ご要望が目に見えて開発や改善のヒントになるかもしれません。
    </li>
  </ul>

  <h3 class="about-item">2.当サイトを利用する上での諸注意</h3>
  <ul class="about-content2">
    <li>
      暴言やわいせつな投稿、わがまま（不満）を改善するためといった理由での</br>
      商品やサービスの押し売りはご遠慮ください。投稿の削除や強制退会の対象となります。
    </li>
  </ul>
  </br>

  <ul class="about-content2">
    <li>
      当サイトに投稿したわがまま（不満）が必ず解消されるということではございません。</br>
      働く方々の商品・サービス開発や改善のヒントになり得るということです。
    </li>
  </ul>

  <h3 class="about-item">3.個人情報のお取り扱いについて</h3>
  <ul class="about-content3">
    <li>
      新規登録時にご記載いただいた個人情報は、ご本人様確認以外に一切使用致しません。
    </li>
  </ul>

  <h3 class="about-item">4.料金は一切かかりません</h3>
  <ul class="about-content4">
    <li>
      当サイトは設定上「お店」や「常連」「一見」など謳っておりますが、一切料金は発生しません。ご安心ください。
    </li>
  </ul>
</div>

