<div class="leave-background-color">
  <h1 class="leave-heading">退会確認画面</h1>

  <div class="leave-item">
    <h3 class="leave-item">本当に退会いたしますか？</h3>
    <h3 class="leave-item">退会するとデータが失われ、次回ログインも出来なくなります。</h3>
    <h3 class="leave-item">退会しない方は、戻るボタンまたはマイページに戻るを押してください。</h3>
  </div>

  <div class="leave-button-padding">
    <button class="leave-back-button"><%= link_to "退会せずマイページに戻る", user_path(@user) %></button>
    <button class="leave-button"><%= link_to "退会する", users_withdraw_path, method: :patch %></button>
  </div>
  <div class="leave-min-height"></div>
</div>