<div class="top-title">
  <h1>わがままを提案に変える～スナック我がママ～</h1>
</div>
<div class="main-visual">
  <div class="main-visual-text">
    <br>いらっしゃいませ。当店ではたくさんのわがままを取り扱っています。</br>
    <br>お客様がわがままを提案に変えることで、</br>
    <br>商品やサービスが改善されるかもしれません。</br>
    <br>当店ではお客様のわがままを、いつでもお待ちしております。</br>
  </div>
</div>
<div class="main-button">
  <a href="users/sign_in" class="log_in">常連さんはこちら（ログイン）</a>
  <a href="users/sign_up" class="sign_up">一見さんはこちら（新規登録）</a>
</div>

<h6>※店内でのわいせつ・相手を傷つける発言や、写真の悪用また押し売りなどの公序良俗に反する投稿をしたお客様には、</br>
投稿の削除や退会をお願いする場合がございます。あらかじめご了承くださいませ。
</h6>
<h6>※料金は一切かかりません。ご安心ください</h6>