<h1>ユーザ一覧</h1>
<table>
  <thead>
    <tr>
      <th>ユーザ名</th>
      <th>投稿件数</th>
      <th>ステータス</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, admins_user_path(user) %></td>
        <td><%= user.posts.count %></td>
        <td><%= user.user_status %></td>
      </tr>
    <% end %>
  </thead>
</table>
<%= paginate @users %>