<h1>index</h1>

<% @posts.each do |posts| %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to posts.title, post_path(posts.id) %></td>
        <td><%= attachment_image_tag posts, :image, format:"jpeg", size:"200x200" %>
      </tr>
    </tbody>
  </table>
<% end %>