/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

/*ブラウザ特有のCSSを解除する「リセットCSS」*/
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

/*フォントの指定*/
 body {
   font-family: Georgia, serif;
 }

.navber-brand { //headerのtop画面に遷移する「OPEN」アイコン。/
  background-image: image-url("0127035006.jpg");
  background-position: center;
  background-size: cover;
  width: 60px;
 }

 footer {
   background-color: #EEEEEE;
   display: flex;
   justify-content: space-between;
   padding-top: 25px;
   min-height: 70px;

   a { //footerのリンク/
     color: #333;
   }

   a:hover { //ポインターを合わせると動作する/
     color: #222222;
   }
 }

  .errors_heading { //エラーメッセージ/
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 60%;

    .errors-ul {
      margin: auto;
      width: 60%;
      padding: 10px 0 10px;
      color: #FFDDFF;
    }
  }

  .flash { //deviceのflashメッセージのカラー設定。キーを2つ設定しているので、noticeとalertの2色を設定/
    color: $white;
    text-align: center;
    &_alert {
      background-color: red;
    }
    &_notice {
      background-color: $green;
    }
  }

  button {
    padding: 5px;
  }