// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index/
.background-color {
  background-color: #CCCCCC;
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 100%;
}

.index-title {
   text-align: center;
   padding-top: 15px;
}

.search-count {
  text-align: center;
  padding-top: 15px;
  font-size: 150%;
}

.search {
  text-align: center;
  padding-top: 15px;
}

.index-table {
  margin: 4% 25% 4%25%;
  border: 10px outset;
}

.table-text {
  margin-right: auto;
  margin-left: auto;
}

.paginate {
  margin-left: 45%;
  padding-bottom: 15px;
  font-size: 20px;

  a {   //ページネーションのリンク/
    padding: 0 5px 0 5px;
  }
}


//----------------------------------------------------------//

//new/
