// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-new{
  text-align: center;
  padding: 10px;
  width: 100%;
  background: blue;

  .post-new-table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;

    th{
      padding: 20px;
    }
  }

  .index-button{
   margin-left: 60%;
  }
}