// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index/
.index-heading {
   text-align: center;
   padding-top: 15px;
}

.search-count {
  text-align: center;
  padding-top: 15px;
  font-size: 150%;
}

.search {
  text-align: center;
  padding-top: 15px;
}

.index-table {
  margin: 4% 25% 4%25%;
  border: 10px outset;
}

.table-text {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.paginate {
  margin-left: 45%;
  padding-bottom: 15px;
  font-size: 20px;

  a {   //ページネーションのリンク/
    padding: 0 5px 0 5px;
  }
}
//----------------------------------------------------------//

//new/
.new-heading {
  text-align: center;
  padding-top: 15px;
}

.new-table {
  margin: auto;
}

.new-title {
  padding: 20px;
}

.new-body {
  @extend .new-title;
}

.new-tag {
  @extend .new-title;
}

.new-image {
  @extend .new-title;
}

.new-submit {
  text-align: right;
  padding: 20px 20px 20px 0;
}

.new-back-button {
  margin-left: 18%;
  padding-bottom: 15px;
}

.new-min-height {
  min-height: 47px;
}
//----------------------------------------------------------/

//show/
.show-heading {
  text-align: center;
  padding: 15px 15px;
}

.show-table {
  margin: auto;
}

.show-title {
  text-align: center;
  padding-right: 30px;
}

.show-body {
  @extend .show-title;
}

.show-image {
  @extend .show-title;
}

.show-tag {
  @extend .show-title;
}

.show-destroy {
  margin-left: 80%;
  padding: 20px;
}

//comment/
.show-comment {
  text-align: center;
  padding-bottom: 20px;
}

.comment-content {
  font-size: 20px;
  margin-left: 30%;
  padding: 20px;

}

.comment-destroy-button {
  margin-left: 80%;
  padding: 5px;
}

.comment-heading {
  margin-left: 20%;
  padding: 15px 0 15px;
}

.comment-new {
  margin-left: 15%;
  padding-top: 30px;
}

.comment-submit {
  margin-left: 66%;
  padding: 10px;
}

.show-back-button{
  margin-left: 50px;
  padding: 20px;
}