// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Topページレイアウト/
.top-title1 {
  text-align: right;
  padding: 15px 10% 10px;
}

.top-title2 {
  text-align: right;
}

.main-visual {
  background-image: image-url("20161211192038.jpg");
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 400px;

  .main-visual-text {
    width: 40%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    text-align: center;
    padding-top: 9%;
  }
}

.main-button {
  padding: 2% 0 1%;
  display: flex;
  justify-content: space-evenly;

  .log_in {
    background: #FFF;
    border: 1px solid #ccc;
    color: #333;
    padding: 1% 2%;
    display: inline-block;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1);
    transition: all .3s; /*アニメーションの設定*/
  }

  .log_in:hover {
    color: #333;
    box-shadow: 0 1px 10px rgba(0, 0, 0 ,0.8), 0 0 50px rgba(128, 128, 128, 0.8);
    border-color: transparent;
  }

  .sign_up {
    background: #FFF;
    border: 1px solid #ccc;
    color: #333;
    padding: 1% 2%;
    display: inline-block;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1);
    transition: all .3s; /*アニメーションの設定*/
  }

  .sign_up:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0 ,0.8), 0 0 50px rgba(128, 128, 128, 0.8);
    border-color: transparent;
  }
}

li {
  padding: 10px 0 10px;
}
//----------------------------------------------------------/

//Aboutページレイアウト/
.about-heading {
  padding: 15px 0 0 10%;
}

.about-container {
  text-align: center;
}

.about-item {
text-align: center;
padding: 2%;
}

.about-content1 {
  display: inline-block;
  text-align: left;
}

.about-content2 {
  @extend .about-content1;
}

.about-content3 {
  @extend .about-content1;
}

.about-content4 {
  @extend .about-content1;
  padding-bottom: 35px;
}
//----------------------------------------------------------/

//Log_in・Sign_inで共有/
.background-image {
  background-image: image-url("C789_doornomukou_TP_V.jpg");
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 100%;

  .background-color{
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 40px;
    margin: 0 25% 0 25%;
  }

  .log-in-heading {
    margin-left: 22%;
    padding: 40px;
  }

  .name-field {
    margin-left: 31%;
    padding: 30px;
    color: #EEEEEE;
  }

  .password-field {
    margin-left: 31%;
    padding: 30px 30px 10px 30px;
    color: #EEEEEE;
  }

  .remember-me-field {
    margin-left: 30%;
    padding: 40px 40px 10px 40px;
    color: #EEEEEE;
  }

  .log-in-button {
    margin-left: 49%;
    padding-left: 40px;
  }

  .log-in-min-height { //高さの最小値を設定/
    min-height: 186px;
  }
}

//Sign_upのみ/
.sign-up-heading {
  margin-left: 22%;
  padding: 40px;
}

.error_explanation { //Deviseのエラーメッセージ/
  padding: 20px;
  color: #FFBEDA;
}

.name-kana-field {
  margin-left: 31%;
  padding: 30px;
  color: #EEEEEE;
}

.email-field {
  margin-left: 31%;
  padding: 30px;
  color: #EEEEEE;
}

.phone-number-field {
  margin-left: 31%;
  padding: 30px;
  color: #EEEEEE;
}

.password-confirmation {
  margin-left: 31%;
  padding: 30px;
  color: #EEEEEE;
}

.sign-up-button {
  margin-left: 62%;

}

.sign-up-min-height { //高さの最小値を設定/
    min-height: 120px;
  }
//----------------------------------------------------------/

//show・プロフィール部分/
.mypage-background-color {
  background-color: #FFFFEE;
}

.display {
  display: flex;
  margin: auto;
  width: 80%;
}

.mypage {
  margin-right: 15px;
}

.mypage-heading {
  text-align: center;
  padding-top: 15px;
}

.mypage-table {
  border: 10px outset #CCCCCC;
}

.mypage-name {
  font-size: 18px;
  padding: 15px 0 0 5px;
}

.mypage-kana {
  @extend .mypage-name;
}

.mypage-kana {
  @extend .mypage-name;
}

.mypage-introduction {
  @extend .mypage-name;
}

.mypage-profile-image {
  @extend .mypage-name;
}

.mypage-email {
  @extend .mypage-name;
}

.mypage-phone-number {
  @extend .mypage-name;
  padding-bottom: 15px;
}

.mypage-button {
  text-align: center;
  padding-bottom: 10px;
}

.favorite-button{
  text-align: center;
  padding-top: 15px;
}

//マイページの一覧部分//
.mypost {
  margin: auto;
  width: 100%;
  padding-top: 15px;
}

.mypost-heading {
  text-align: center;
}

.mypost-table-border {
  margin-bottom: 30px;
  border: 10px outset #333399;
}

.mypost-table {
  text-align: center;
  margin: auto;
  width: 100%;
}

//----------------------------------------------------------//

//edit/
.edit-background-color {
  background-color: #FFFFEE;
}

.edit-heading {
  text-align: center;
  padding-top: 15px;
}

.edit-table {
  margin: auto;
}

.edit-name {
  padding: 20px;
}

.edit-kana {
  @extend .edit-name;
}

.edit-introduction {
  @extend .edit-name;
}

.edit-profile-image {
  @extend .edit-name;
}

.edit-email {
  @extend .edit-name;
}

.edit-phone-number {
  @extend .edit-name;
}

.edit-submit {
  text-align: right;
  padding: 20px 20px 20px 0;
}

.edit-back-button {
  margin-left: 12%;
  padding-bottom: 30px;
}

//----------------------------------------------------------/

//leave/
.leave-background-color {
  background-color: #EEEEEE;
}

.leave-heading {
  text-align: center;
  padding-top: 15px;
}

.leave-item {
  text-align: center;
  padding: 10px;
  color: #FF0000;
}

.leave-button-padding {
  padding-top: 60px;
}

.leave-back-button {
  margin-left: 20%;
}

.leave-button {
  margin-left: 40%
}

.leave-min-height {
  min-height: 278px;
}