<div class="thanks-background-image">
  <div class="thanks-background-text">
    <h1 class="thanks-heading">お問い合わせ完了</h1>
    <div class="thank-message-1">お問い合わせありがとうございました。</div></br>

    <div class="thank-message-2">引き続き～スナック「我がママ」～を</div>
    <div class="thank-message-3">お楽しみくださいませ。</div>

    <div class="thanks-button-padding"></br></br>
      <button class="thanks-button-index"><%= link_to "投稿一覧に戻る", posts_path %></button>
      <button class="thanks-button-show"><%= link_to "マイページへ", user_path(current_user) %></button>
    </div>
    <div class="thanks-min-height"></div>
  </div>
</div>